openapi: 3.0.1
info:
  title: Rental Service API
  description: API для управления предложениями по аренде, пользователями и комментариями.
  version: 1.0.0
servers:
  - url: https://api.rental-service.com/v1
    description: Основной сервер API
paths:
  /offers:
    post:
      summary: Создание нового предложения по аренде
      operationId: createOffer
      security:
        - bearerAuth: []
      requestBody:
        description: Данные нового предложения
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 10
                  maxLength: 100
                description:
                  type: string
                  minLength: 20
                  maxLength: 1024
                city:
                  type: string
                  enum:
                    - Paris
                    - Cologne
                    - Brussels
                    - Amsterdam
                    - Hamburg
                    - Dusseldorf
                preview_image:
                  type: string
                  format: uri
                photos:
                  type: array
                  items:
                    type: string
                    format: uri
                premium:
                  type: boolean
                favorite:
                  type: boolean
                rating:
                  type: number
                  format: float
                  minimum: 1
                  maximum: 5
                type:
                  type: string
                  enum:
                    - apartment
                    - house
                    - room
                    - hotel
                rooms:
                  type: integer
                  minimum: 1
                  maximum: 8
                guests:
                  type: integer
                  minimum: 1
                  maximum: 10
                price:
                  type: integer
                  minimum: 100
                  maximum: 100000
                amenities:
                  type: array
                  items:
                    type: string
                    enum:
                      - Breakfast
                      - Air conditioning
                      - Laptop friendly workspace
                      - Baby seat
                      - Washer
                      - Towels
                      - Fridge
                author:
                  type: string
                  format: uri
                latitude:
                  type: number
                  format: float
                longitude:
                  type: number
                  format: float
              required:
                - name
                - description
                - city
                - preview_image
                - photos
                - premium
                - favorite
                - rating
                - type
                - rooms
                - guests
                - price
                - amenities
                - author
                - latitude
                - longitude
      responses:
        '201':
          description: Предложение успешно создано
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  description:
                    type: string
                  city:
                    type: string
                  price:
                    type: integer
        '400':
          description: Ошибка валидации данных
        '401':
          description: Неавторизованный пользователь
  /offers/{offerId}:
    put:
      summary: Редактирование предложения
      operationId: editOffer
      security:
        - bearerAuth: []
      parameters:
        - name: offerId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        description: Обновленные данные предложения
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 10
                  maxLength: 100
                description:
                  type: string
                  minLength: 20
                  maxLength: 1024
                city:
                  type: string
                  enum:
                    - Paris
                    - Cologne
                    - Brussels
                    - Amsterdam
                    - Hamburg
                    - Dusseldorf
                preview_image:
                  type: string
                  format: uri
                photos:
                  type: array
                  items:
                    type: string
                    format: uri
                premium:
                  type: boolean
                favorite:
                  type: boolean
                rating:
                  type: number
                  format: float
                  minimum: 1
                  maximum: 5
                type:
                  type: string
                  enum:
                    - apartment
                    - house
                    - room
                    - hotel
                rooms:
                  type: integer
                  minimum: 1
                  maximum: 8
                guests:
                  type: integer
                  minimum: 1
                  maximum: 10
                price:
                  type: integer
                  minimum: 100
                  maximum: 100000
                amenities:
                  type: array
                  items:
                    type: string
                    enum:
                      - Breakfast
                      - Air conditioning
                      - Laptop friendly workspace
                      - Baby seat
                      - Washer
                      - Towels
                      - Fridge
                latitude:
                  type: number
                  format: float
                longitude:
                  type: number
                  format: float
              required:
                - name
                - description
                - city
                - preview_image
                - photos
                - premium
                - favorite
                - rating
                - type
                - rooms
                - guests
                - price
                - amenities
                - latitude
                - longitude
      responses:
        '200':
          description: Предложение успешно обновлено
        '400':
          description: Ошибка валидации данных
        '401':
          description: Неавторизованный пользователь
        '404':
          description: Предложение не найдено или не ваше
  /users:
    post:
      summary: Создание нового пользователя
      operationId: createUser
      requestBody:
        description: Данные для создания нового пользователя
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 15
                email:
                  type: string
                  format: email
                password:
                  type: string
                  minLength: 6
                  maxLength: 12
                user_type:
                  type: string
                  enum:
                    - ordinary
                    - pro
              required:
                - name
                - email
                - password
                - user_type
      responses:
        '201':
          description: Пользователь успешно создан
        '400':
          description: Ошибка валидации данных
  /auth/login:
    post:
      summary: Вход в приложение
      operationId: loginUser
      requestBody:
        description: Логин и пароль для входа
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
              required:
                - email
                - password
      responses:
        '200':
          description: Успешный вход
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
        '401':
          description: Неверный логин или пароль
security:
  - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    Offer:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type: string
        price:
          type: integer
        city:
          type: string
        type:
          type: string
        rating:
          type: number
          format: float
          minimum: 1
          maximum: 5
        latitude:
          type: number
          format: float
        longitude:
          type: number
          format: float
    User:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        email:
          type: string
        user_type:
          type: string
        avatar:
          type: string
          format: uri
    Comment:
      type: object
      properties:
        id:
          type: integer
        text:
          type: string
        rating:
          type: number
          minimum: 1
          maximum: 5
        author:
          type: string
          format: uri
        created_at:
          type: string
          format: date-time
